body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 800px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

label {
	display: block;
	margin-bottom: 8px;
}

input,
select {
	width: calc(100% - 16px);
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
}

.column {
	width: calc(50% - 8px);
}

a {
	background-color: #3cc041;
	color: #fff;
	border: none;
	padding: 12px 300px;
	margin: 0 70px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.1rem;
	text-decoration: none;
}

a:hover {
	background-color: #3bca1a;
}
.military,
.num-children {
	display: none;
}
